@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

/* Reseting HTML Page */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Header */
header {
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Navigation */
#navbar {
    display: flex;
    align-items: center;
}

#navbar:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    z-index: -1;
    opacity: 0.6;
}

/* Navigation : Image */
#navbar #img {
    display: flex;
    align-items: center;
    margin: 0px 0px;
    margin-left: -4px;
    padding: 0 10px;
}

#navbar div img {
    margin-left: 0px;
    width: 85px;
    height: 84px;
}

/* Navigation : List */
#navbar ul {
    display: flex;
    margin: 0 11px;
    font-size: 1.2rem;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li {
    list-style: none;
    margin: 20px 4px;

}


#navbar ul li a {
    text-decoration: none;
    padding: 6px 20px;
}

#navbar ul .active {
    margin-right: 0px;
}

#navbar ul li a:hover,
#navbar ul .active a {
    background-color: white;
    color: black;
    padding: 3px 20px;
    border-radius: 30px;
}

#navbar #check {
    display: none;
}

#navbar label {
    position: absolute;
    right: 50px;
    display: none;
}

/* Section :: Home */
#home-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    padding: 150px;
}

#home-section:before {
    content: "";
    position: absolute;
    height: 660px;
    /* here don't specify the height in % as it will change according 
                            to the height of the device which will affect the responsiveness 
                            of the img element. */
    /* Setting height in pixels will make your img to have same height even if the height of the device changes. */
    width: 100%;
    top: 0;
    left: 0;
    background: url('FoodOrderingWebsite/img/backgrounds/mainBackground.jpg') no-repeat center center/cover;
    opacity: 0.9;
    z-index: -2;
}

#home-section > h1 {
    margin: 20px;
    margin-top: 180px;
    font-family: 'Ubuntu', sans-serif;
}

#home-section > p {
    font-size: 45px;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 14px;
}

#home-section .features {
    display: flex;
    color: rgb(255, 18, 18);
    justify-content: center;
    align-items: center;
    margin-top: 44px;
    margin-left: 10px;
    margin-bottom: 30px;
}

#home-section .features .feature {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    width: 357px;
    height: 166px;
}

#home-section .features .feature .feature_details {
    margin-top: -34px;
}

#home-section .features .feature img {
    width: 122px;
    height: 133px;
}

#home-section .features .feature div {
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'Ubuntu', sans-serif;
    font-weight: 650;
    font-size: 24px;
    line-height: 3;
}

#home-section .features .feature p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    line-height: 1;
}

#home-section .features .feature1 {
    width: 317;
}

#home-section .features .feature1 img {
    margin-left: -4px;
}

#home-section .features .feature2 {
    width: 320;
}

#home-section .features .feature2 img {
    margin-left: 9px;
    margin-right: 14px;
    margin-top: -14px;
}

#home-section .features .feature3 {
    width: 375px;
}

#home-section .features .feature3 img {
    margin-left: -14px;
    margin-right: 6px;
    margin-top: -14px;
    height: 155px;
    width: 130px;
}

#ordernowbtn {
    display: block;
    color: white;
    margin: 35px 20px;
    padding: 9px 0px;
    border-radius: 10px;
    font-size: 23px;
    width: 250px;
    background-color: rgb(226, 46, 46);
    border: 2px solid white;
    cursor: pointer;
}

#ordernowbtn:hover {
    background-color: red;
}

/* Section :: Menu */
#menu-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;
}

#menu-section .menuGrid {
    display: grid;
    /* grid-template-columns: repeat(3, minmax(300px, 1fr)); */
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: repeat(3, 195px);
    gap: 10px;
}

#menu-section h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#menu-section div .menuItems {
    height: 190px;
    width: 295px;
    border-radius: 10px;
    transition: all .2s;
}

#menu-section div #menuItems1 { 
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    height: 400px;
    width: 605px;
}

#menu-section div #menuItems4 {
    height: 195px;
    width: 295px;
}

#menu-section div #menuItems5 { 
    grid-column: 2 / span 2;
    width: 605px;
    height: 195px;
    background-position: center;
    background-size: cover;
}

#menu-section div #menuItems6 { 
    grid-row: 4 / span 2;
    height: 415px;
}

#menu-section div #menuItems7 { 
    height: 185px;
}

#menu-section div #menuItems8 { 
    height: 185px;
}

#menu-section div #menuItems9 { 
    grid-column: 2 / span 2;
    height: 220px;
    width: 605px;
}

#menu-section div .menuItems:hover {
    transform: scale(1.06);
}

/* Section :: Services */
#services-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#services-section .services {
    display: flex;
}

#services-section .servicesItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 350px;
    margin: 50px 40px;
    border: 2px solid red;
    border-radius: 34px;
}

#services-section .servicesItem img {
    width: 230px;
    height: 170px;
    margin-top: -60px;
    margin-bottom: 20px;
}

#services-section .servicesItem h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

#services-section .servicesItem p {
    font-size: 1.2rem;
    padding: 10px 20px;
}

/* Section :: Clients */
#clients-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#clients-section:before {
    content: "";
    position: absolute;
    height: 310px;
    width: 100%;
    background: url('FoodOrderingWebsite/img/backgrounds/clientBackground.jpg') no-repeat center center/cover;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.3;
}

#clients-section .clients {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#clients-section .clients .clientsItems {
    width: 150px;
    margin: -30px 60px;
    padding: 0 4px;
}

#clients-section .clients #clientsItems1 {
    margin-top: -47px;
}

#clients-section .clients #clientsItems2 {
    width: 220px;
}

#clients-section .clients #clientsItems3 {
    margin-top: -47px;
}

#clients-section .clients #clientsItems4 {
    width: 20rem;
    margin-top: -40px;
}

/* Section :: Contact Us */
#contactus-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    position: relative;
}

#contactus-section:before {
    content: "";
    position: absolute;
    height: 630px;
    width: 100%;
    top: 0;
    left: 0;
    background: url('FoodOrderingWebsite/img/backgrounds/contactBackground.jpg') no-repeat center center/cover;
    z-index: -1;
}

#contactus-section #contactus-form .form-group {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#contactus-section #contactus-form .form-group input {
    padding: 8px 5px;
    width: 600px;
    font-size: 20px;
    outline: none;
    /* used to remove inner decoration of input and textarea element */
    border: 1px solid black;
}

#contactus-section #contactus-form .form-group textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 8px 5px;
    outline: none;
    border: 1px solid black;
}

#contactus-section #contactus-form .btn {
    margin: 15px 109px;
    color: white;
    background-color: rgb(226, 46, 46);
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px 0;
    cursor: pointer;
    width: 382px;
}

#contactus-section #contactus-form .btn:hover {
    background-color: red;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    padding: 20px 10px;
    width: 100%;
    position: relative;
    bottom: 0;
}

footer .footer-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-self: center;
    list-style: none;
    height: 170px;
    /* border: 2px solid red; */
    margin-top: 20px;
    width: 100%;
    font-family: 'Ubuntu', cursive;
}

footer .footer-section .customer-care li {
    margin-bottom: 15px;
}

footer .footer-section .myaccount li {
    margin-bottom: 15px;
}

footer .footer-section .signup li {
    margin-bottom: 15px;
}

footer .footer-section .signup h3 {
    margin-bottom: 15px;
}

footer .footer-section .signup .signup-letter li input {
    outline: none;
    border: none;
    padding: 10px 10px;
    width: 250px;
    font-size: 1rem;
    background: none;
    color: white;
    border: 1px solid white;
}

footer .footer-section .signup .signup-letter .btn {
    margin-top: 15px;
    margin-bottom: 25px;
}

footer .footer-section .signup .signup-letter li a {
    /* margin: 15px 0; */
    background-color: rgb(226, 46, 46);
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
}

footer .footer-section .signup .signup-letter a:hover {
    background-color: red;
}

footer .footer-section .signup .followus-icons {
    display: flex;
}

footer .footer-section .signup .followus-icons a {
    margin-right: 10px;
    font-size: 20px;
    margin-right: 25px;
    cursor: pointer;
}

footer .footer-section .signup .followus-icons .fa-facebook:hover {
    color: #3B5998;
}

footer .footer-section .signup .followus-icons .fa-twitter:hover {
    color: #55ACEE;
}

footer .footer-section .signup .followus-icons .fa-instagram:hover {
    color: #125688;
}

footer .footer-section .signup .followus-icons .fa-youtube-play:hover {
    color: #bb0000;
}

footer .copyright {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    font-size: 1rem;
}

/* Utilities Classes */
.primaryHeading {
    font-size: 3.5rem;
    font-family: 'Bree Serif', serif;
}

.secondaryHeading {
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}

.centerText {
    text-align: center;
}

.primaryColor {
    color: white;
}

.secondaryColor {
    color: black;
}

.anchor-link-no-decorations {
    color: white;
    text-decoration: none;
}

.footer-item-bottom-margin {
    margin-bottom: 20px;
}
